[submodule "enrolled"]
	path = enrolled
	url = ./enrolled
	datalad-id = 7c73b977-b6ad-42e7-9eb7-7765ba96678c
[submodule "self-learning"]
	path = self-learning
	url = ./self-learning
	datalad-id = bbe419bb-f182-436d-a4be-50b44e3e18fb
[submodule "by-mishra"]
	path = by-mishra
	url = ./by-mishra
	datalad-id = 57308fa4-99b3-46af-847c-46bc668f758c
